<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <h1 mat-dialog-title>Edit address</h1>
    <div mat-dialog-content>
        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Street & No.</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.street" matInput placeholder="Enter your address">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>Post code</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.postCode" matInput placeholder="Enter your post code">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.city" matInput placeholder="Enter your city">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button [disabled]="loading" mat-button (click)="dialogRef.close()">Cancel</button>
        <button [disabled]="loading" mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
    </div>
</div>